:root {
  --container: 1160px;
  --padding-container: 20px;
  --container-width: calc(var(var(--container) + (var(var(--padding-container) * 2))));

  /* ЦВЕТА */
  --background-page: linear-gradient(90deg, #f0f3f4, #e6ebf0, #e6ebf0);
  --text-grey: #7e818e;
  --Gray: #3c4148;
  --text-dark: #07172e;
  --Light-grey: #f1f4f8;
  --Light-grey-15: rgba(40, 144, 196, 0.15);
  --Blue-Main: #3586ff;
  --Blue-Main-200: rgba(40, 102, 194, 0.2);
  --Blue-200: rgba(40, 102, 194, 0.2);
  --Blue-hover: #6697ff;
  --White: #f1f4f8;
  --bg-white: #f1f3f7;
  --bg-form: linear-gradient(90deg, #e6ebf0 0%, #f0f3f5 50%, #f0f3f5 100%);
  --dark-100: rgba(25, 39, 59, 0.102);
  --bg-radio: #f0f3f5;

  --border-rounded: 8px;
  --border-rounded-sm: 10px;
  --border-rounded-xl: 12px;
  --border-rounded-md: 16px;
  --border-rounded-xl: 18px;
  --border-rounded-2xl: 20px;

  /* ТЕКСТА */
  --font-family: 'Manrope', sans-serif;
}
